.form-wrapper {
    .btn-log {
        display: flex;
        align-items: center;
        font-size: 2rem;
        margin: auto;
        margin-top: 18px;
        background-color: #51b4ff;
        color: var(--white-color);
        border-radius: 4px;
        &:hover {
            background-color: #4c9ddb;
        }

        &:active {
            background-color: rgba(22, 24, 35, 0.06);
        }

        .registIcon {
            font-size: 5.6rem;
        }
    }

    .no-pointer {
        pointer-events: none;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    height: 334px;
    padding: 0 12% 10px 12%;
    min-height: 100px;
    box-shadow: 4px 4px 4px #72727229;
    background-color: var(--white-color);
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    label {
        width: 100%;
        color: #c8c8c8;
        font-size: 2.4rem;
        margin-top: 6px;
        font-weight: 500;
        opacity: 0.8;
    }

    input {
        font-family: var(--font-family);
        font-size: 1.6rem;
        height: 50px;
        margin-bottom: 5px;
        caret-color: #c8c8c8;
        border: 1px solid #d6d6d6;
        &::placeholder {
            font-family: 'SFU Helvetica';
            font-style: italic;
            font-size: 1.6rem;
            color: #dfdfdf;
            opacity: 0.8;
        }
    }
}

.errors {
    width: 100%;
    font-family: var(--font-family);
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 0;
    color: rgb(248, 106, 106);
}

.textFooter {
    display: block;
    font-size: 2.6rem;
    text-align: center;
    color: var(--black-color);
    font-weight: 550;
    cursor: pointer;
    &:hover {
        color: var(--text-color);
        text-decoration: underline;
    }
}
