@media(min-width:1024px) {}


/* ipad */

@media(min-width:740px)and (max-width:1023px) {
    .section1 {
        padding: 64px 0px;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    .contact {
        display: flex;
        margin-top: 56px;
        width: 100%;
        /* max-width: 700px; */
    }
    .contact-left {
        font-size: 18px;
        float: left;
        margin-top: 8px;
        width: 40%;
        margin-left: 16px;
    }
    .contact-right {
        /* float: right; */
        width: 60%;
    }
    .in4 {
        /* margin-left: 12px; */
        border: 1px solid #ccc;
        height: 40px;
        padding-left: 8px;
        /* width: 170px; */
        width: 44%;
    }
    .ib {
        /* margin-left: 12px; */
        /* width: 357px; */
        width: 92.3%;
        margin-top: 8px;
        border: 1px solid #ccc;
        height: 40px;
        padding-left: 8px;
    }
    .send {
        width: 97.7%;
        /* max-width: 100%; */
    }
    .sendcon {
        /* margin-left: 638px; */
        float: right;
    }
    .contact-icon {
        margin-right: 16px;
    }
    .contact-noidung {
        margin-top: 4px;
    }
}


/* mobile */

@media(max-width:740px) {
    /* Header */
    /* #header {
        overflow: hidden;
    }
    #header .search {
        display: none;
    }
    #header .menu-btn {
        display: block;
    }
    #nav {
        display: block;
    }
    #nav li {
        display: block;
    }
    #nav>li:first-child {
        display: inline-block;
    }
    #nav>li:hover>a,
    #nav .subnav li:hover a {
        background-color: #ccc;
        color: #000;
        width: 100%;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    #nav li a {
        padding: 1px 24px;
    } */
    /* end header */
    /* chu va anh*/
    #slider {
        width: 864px;
        height: 446px;
    }
    .text-content {
        display: none;
    }
    /* about */
    .section {
        width: 100%;
        /* margin: 0 auto; */
        margin-left: 140px;
        margin-top: 64px;
        padding: initial;
    }
    .section-heading {
        width: 578px;
        text-align: center;
        /* text-align: left; */
        padding: none;
    }
    .section-subheading {
        width: 578px;
        text-align: center;
    }
    .about {
        width: 578px;
    }
    .team {
        width: 578px;
    }
    /* tour */
    .tour {
        width: 864px;
        padding-top: 50px;
        margin-top: 80px
    }
    .section3 {
        padding: initial;
    }
    /* contact */
    .section-heading1,
    .section-subheading1 {
        width: 700px;
        /* map */
    }
    .map-section {
        width: 864px;
    }
    /* send */
    .send {
        width: 734px;
        /* max-width: 100%; */
        /* margin-left: 40px; */
    }
    /* footer */
    #footer {
        width: 864px;
    }
    .modal-close {
        margin-left: 800px;
    }
}