    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html {
        font-family: Arial, Helvetica, sans-serif;
        scroll-behavior: smooth;
    }
    
    #main {}
    
    #header {
        height: 46px;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    
    #nav,
    .subnav {
        list-style: none;
    }
    
    #nav {
        display: inline-block;
    }
    
    #nav>li {
        display: inline-block;
    }
    
    #nav li {
        position: relative;
    }
    
    #nav li a {
        text-decoration: none;
        line-height: 46px;
        padding: 0px 24px;
        display: inline-block;
    }
    
    #nav li:hover .subnav {
        display: block;
    }
    
    #nav>li>a {
        color: #fff;
    }
    
    #nav>li:hover>a,
    #nav .subnav li:hover a {
        background-color: #ccc;
        color: #000;
    }
    
    #nav .subnav {
        display: none;
        /* min-width: 160px; */
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    
    #nav .subnav a {
        color: #000;
        padding: 0px 12px;
        line-height: 38px;
        width: 100%;
    }
    
    #nav .arrow-down {
        font-size: 12px;
    }
    
    #header .menu-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }
    
    #header .menu-btn,
    #header .search {
        float: right;
        padding: 0 21px;
    }
    
    #header .search:hover {
        cursor: pointer;
        background-color: #f44336;
    }
    
    #header .menu-icon,
    #header .search-icon {
        color: #fff;
        line-height: 46px;
        font-size: 15px;
    }
    
    #header .menu-btn:hover {
        background-color: #ccc;
    }
    
    #header .menu-btn:hover .menu-icon {
        color: #000;
    }
    
    #slider {
        margin-top: 46px;
        padding-top: 50%;
        background: url('img/slider/slider1.jpg') top center/ cover no-repeat;
        position: relative;
    }
    
    #slider .text-content {
        position: absolute;
        color: #fff;
        bottom: 47px;
        text-align: center;
        width: 100%;
    }
    
    #slider .chutren {
        font-weight: 500;
        font-size: 24px;
    }
    
    #slider .chuduoi {
        font-size: 14px;
        margin-top: 25px;
        font-weight: bold;
    }
    
    .section {
        padding: 64px;
        width: 800px;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .section-heading {
        text-align: center;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 4px;
    }
    
    .section-subheading {
        text-align: center;
        font-size: 15px;
        margin: 30px 0px;
        font-style: italic;
        opacity: 0.6;
    }
    
    .about {
        text-align: justify;
        line-height: 1.4;
        font-size: 13px;
    }
    
    #content {}
    
    .team {
        display: flex;
        margin-top: 70px;
        justify-content: space-around;
    }
    
    .name {
        text-align: center;
        font-size: 15px;
    }
    
    .member-img {
        width: 151px;
        height: 151px;
        margin-top: 22px;
        border-radius: 4px;
    }
    /* Tour */
    
    .tour {
        background-color: #000;
        height: 810px;
    }
    
    .tour .section-heading {
        color: white;
    }
    
    .tour .section-subheading {
        opacity: 0.6;
        color: white;
    }
    
    .tickets {
        background-color: #FFF;
        margin-top: 40px;
    }
    
    .tickets li {
        font-size: 15px;
        color: #757575;
        padding: 11px 16px;
        border-bottom: 1px solid#ddd;
        list-style: none;
    }
    
    .soldout {
        background-color: #f44336;
        color: #fff;
        padding: 3px 4px;
        margin-left: 16px;
    }
    
    .conlai {
        float: right;
        background-color: #000;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        text-align: center;
        line-height: 24px;
        color: #fff;
        margin-right: 16px;
        margin-top: -3px;
    }
    /* places */
    
    .places {
        margin-top: 32px !important;
        display: flex;
        margin: 0px -8px;
    }
    
    .place-item {
        float: left;
        padding: 0px 8px;
    }
    
    .place-img {
        width: 100%;
        display: block;
        cursor: pointer;
    }
    
    .place-img:hover {
        opacity: 0.6;
    }
    
    .place-body {
        background-color: #fff;
        padding: 16px;
        font-size: 15px;
    }
    
    .place-heading {
        font-size: 15px;
        font-weight: ;
    }
    
    .time {
        margin: 15px 0px;
        opacity: 0.6;
    }
    
    input[type="button"] {
        background-color: #000;
        color: white;
        padding: 12px 18px;
        margin-top: 16px;
        border: none;
        text-align: center;
    }
    
    input[type="button"]:hover {
        background-color: #ccc;
        cursor: pointer;
    }
    /* contact */
    
    .section1 {
        padding: 64px;
        width: 800px;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .contact {
        display: flex;
        /* width: 100%; */
        margin-top: 56px;
        width: 800px;
        /* max-width: 100%; */
    }
    
    .contact-left {
        font-size: 18px;
        float: left;
        margin-top: 8px;
        /* width: 250px; */
        /* margin-left: 180px; */
    }
    
    .contact-right {
        float: right;
        margin-left: 94px;
    }
    
    .in4 {
        margin-left: 12px;
        border: 1px solid #ccc;
        height: 40px;
        padding-left: 8px;
    }
    
    .ib {
        margin-left: 12px;
        width: 96.8%;
        margin-top: 8px;
        border: 1px solid #ccc;
        height: 40px;
        padding-left: 8px;
    }
    
    .send {
        width: 710px;
        /* max-width: 100%; */
        /* margin-left: 40px; */
    }
    
    .sendcon {
        /* margin-left: 638px; */
        float: right;
    }
    
    .contact-icon {
        margin-right: 30px;
    }
    
    .contact-noidung {
        margin-top: 4px;
    }
    
    input[type="submit"] {
        background-color: #000;
        color: white;
        padding: 12px 18px;
        margin-top: 16px;
        border: none;
        text-align: center;
    }
    
    input[type="submit"]:hover {
        background-color: #ccc;
        cursor: pointer;
    }
    /* map */
    
    .map-section img {
        width: 100%;
        margin-top: 104px;
    }
    /* footer */
    
    #footer {
        padding: 64px 16px;
        text-align: center;
    }
    
    .mxh {
        font-size: 24px;
    }
    
    #footer .mxh a {
        color: rgba(0, 0, 0, 0.6);
        text-decoration: none;
    }
    
    .copyright a:hover,
    #footer .mxh a:hover {
        color: rgba(0, 0, 0, 0.4);
    }
    
    .copyright {
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.6);
    }
    
    .copyright a {
        color: #009688;
        ;
    }
    /* Modal */
    
    .modal {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        display: none;
        justify-content: center;
        align-items: center;
    }
    
    .modal.open {
        display: flex;
    }
    
    .modal-header {
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #009688;
        font-size: 30px;
        color: #fff;
        letter-spacing: 4px;
    }
    
    .modal-container {
        background-color: #fff;
        width: 900px;
        min-height: 200px;
        animation: modalFadeIn ease 0.4s;
    }
    
    .modal-close {
        background-color: #009688;
        padding: 16px;
        color: white;
        position: absolute;
        margin-left: 852px;
        cursor: pointer;
    }
    
    .modal-close:hover {
        background-color: #ccc;
        color: black;
    }
    
    .modal-body {
        padding: 16px;
    }
    
    .modal-label {
        display: block;
        font-size: 15px;
    }
    
    .price {
        margin: 16px 0px;
        padding: 10px;
        font-size: 15px;
        width: 100%;
        border: 1px solid #ccc;
    }
    
    button {
        background-color: #009688;
        width: 100%;
        height: 54px;
        border: none;
        font-size: 15px;
        color: #fff;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #ccc;
        color: #000;
    }
    
    .modal-help {
        height: 40px;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
        font-size: 15px;
    }
    
    @keyframes modalFadeIn {
        from {
            opacity: 0;
            transform: translateY(-140px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }