.wrapper {
    position: relative;
    padding-top: calc(var(--header-height) / 2);
}

.content-wrapper {
    position: absolute;
    top: 17%;
    left: 32%;
    width: 600px;
    bottom: 0;
    font-family: 'SFU DIN';
    z-index: 3;

    h2 {
        font-weight: 580;
        font-size: 4rem;
        color: var(--black-color);
        text-align: center;
        margin-bottom: 20px;
    }
}

// Tablet
@media (min-width: 768px) and (max-width: 991px) {
    .content-wrapper {
        left: 20%;
    }
}

// Phone
@media (max-width: 767px) and (min-width: 360px) {
    .content-wrapper {
        width: 300px;
        left: 8%;
    }
}
