@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaBlack.eot');
    src: url('SFUHelveticaBlack.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaBlack.woff2') format('woff2'),
        url('SFUHelveticaBlack.woff') format('woff'),
        url('SFUHelveticaBlack.ttf') format('truetype'),
        url('SFUHelveticaBlack.svg#SFUHelveticaBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaCondensed.eot');
    src: url('SFUHelveticaCondensed.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaCondensed.woff2') format('woff2'),
        url('SFUHelveticaCondensed.woff') format('woff'),
        url('SFUHelveticaCondensed.ttf') format('truetype'),
        url('SFUHelveticaCondensed.svg#SFUHelveticaCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaCondensedBlack.eot');
    src: url('SFUHelveticaCondensedBlack.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaCondensedBlack.woff2') format('woff2'),
        url('SFUHelveticaCondensedBlack.woff') format('woff'),
        url('SFUHelveticaCondensedBlack.ttf') format('truetype'),
        url('SFUHelveticaCondensedBlack.svg#SFUHelveticaCondensedBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaBlackOblique.eot');
    src: url('SFUHelveticaBlackOblique.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaBlackOblique.woff2') format('woff2'),
        url('SFUHelveticaBlackOblique.woff') format('woff'),
        url('SFUHelveticaBlackOblique.ttf') format('truetype'),
        url('SFUHelveticaBlackOblique.svg#SFUHelveticaBlackOblique') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaCompressed.eot');
    src: url('SFUHelveticaCompressed.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaCompressed.woff2') format('woff2'),
        url('SFUHelveticaCompressed.woff') format('woff'),
        url('SFUHelveticaCompressed.ttf') format('truetype'),
        url('SFUHelveticaCompressed.svg#SFUHelveticaCompressed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaBold.eot');
    src: url('SFUHelveticaBold.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaBold.woff2') format('woff2'),
        url('SFUHelveticaBold.woff') format('woff'),
        url('SFUHelveticaBold.ttf') format('truetype'),
        url('SFUHelveticaBold.svg#SFUHelveticaBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaCondensedBlackObl.eot');
    src: url('SFUHelveticaCondensedBlackObl.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaCondensedBlackObl.woff2') format('woff2'),
        url('SFUHelveticaCondensedBlackObl.woff') format('woff'),
        url('SFUHelveticaCondensedBlackObl.ttf') format('truetype'),
        url('SFUHelveticaCondensedBlackObl.svg#SFUHelveticaCondensedBlackObl') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaCondensedBold.eot');
    src: url('SFUHelveticaCondensedBold.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaCondensedBold.woff2') format('woff2'),
        url('SFUHelveticaCondensedBold.woff') format('woff'),
        url('SFUHelveticaCondensedBold.ttf') format('truetype'),
        url('SFUHelveticaCondensedBold.svg#SFUHelveticaCondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaCondensedBoldObl.eot');
    src: url('SFUHelveticaCondensedBoldObl.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaCondensedBoldObl.woff2') format('woff2'),
        url('SFUHelveticaCondensedBoldObl.woff') format('woff'),
        url('SFUHelveticaCondensedBoldObl.ttf') format('truetype'),
        url('SFUHelveticaCondensedBoldObl.svg#SFUHelveticaCondensedBoldObl') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaCondensedLight.eot');
    src: url('SFUHelveticaCondensedLight.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaCondensedLight.woff2') format('woff2'),
        url('SFUHelveticaCondensedLight.woff') format('woff'),
        url('SFUHelveticaCondensedLight.ttf') format('truetype'),
        url('SFUHelveticaCondensedLight.svg#SFUHelveticaCondensedLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaExtraCompressed.eot');
    src: url('SFUHelveticaExtraCompressed.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaExtraCompressed.woff2') format('woff2'),
        url('SFUHelveticaExtraCompressed.woff') format('woff'),
        url('SFUHelveticaExtraCompressed.ttf') format('truetype'),
        url('SFUHelveticaExtraCompressed.svg#SFUHelveticaExtraCompressed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaCondensedOblique.eot');
    src: url('SFUHelveticaCondensedOblique.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaCondensedOblique.woff2') format('woff2'),
        url('SFUHelveticaCondensedOblique.woff') format('woff'),
        url('SFUHelveticaCondensedOblique.ttf') format('truetype'),
        url('SFUHelveticaCondensedOblique.svg#SFUHelveticaCondensedOblique') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaLight.eot');
    src: url('SFUHelveticaLight.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaLight.woff2') format('woff2'),
        url('SFUHelveticaLight.woff') format('woff'),
        url('SFUHelveticaLight.ttf') format('truetype'),
        url('SFUHelveticaLight.svg#SFUHelveticaLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaCondensedLightObl.eot');
    src: url('SFUHelveticaCondensedLightObl.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaCondensedLightObl.woff2') format('woff2'),
        url('SFUHelveticaCondensedLightObl.woff') format('woff'),
        url('SFUHelveticaCondensedLightObl.ttf') format('truetype'),
        url('SFUHelveticaCondensedLightObl.svg#SFUHelveticaCondensedLightObl') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaNarrow.eot');
    src: url('SFUHelveticaNarrow.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaNarrow.woff2') format('woff2'),
        url('SFUHelveticaNarrow.woff') format('woff'),
        url('SFUHelveticaNarrow.ttf') format('truetype'),
        url('SFUHelveticaNarrow.svg#SFUHelveticaNarrow') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaNarrowBold.eot');
    src: url('SFUHelveticaNarrowBold.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaNarrowBold.woff2') format('woff2'),
        url('SFUHelveticaNarrowBold.woff') format('woff'),
        url('SFUHelveticaNarrowBold.ttf') format('truetype'),
        url('SFUHelveticaNarrowBold.svg#SFUHelveticaNarrowBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelvetica.eot');
    src: url('SFUHelvetica.eot?#iefix') format('embedded-opentype'),
        url('SFUHelvetica.woff2') format('woff2'),
        url('SFUHelvetica.woff') format('woff'),
        url('SFUHelvetica.ttf') format('truetype'),
        url('SFUHelvetica.svg#SFUHelvetica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaOblique.eot');
    src: url('SFUHelveticaOblique.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaOblique.woff2') format('woff2'),
        url('SFUHelveticaOblique.woff') format('woff'),
        url('SFUHelveticaOblique.ttf') format('truetype'),
        url('SFUHelveticaOblique.svg#SFUHelveticaOblique') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaLightOblique.eot');
    src: url('SFUHelveticaLightOblique.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaLightOblique.woff2') format('woff2'),
        url('SFUHelveticaLightOblique.woff') format('woff'),
        url('SFUHelveticaLightOblique.ttf') format('truetype'),
        url('SFUHelveticaLightOblique.svg#SFUHelveticaLightOblique') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU HelveticaNeue';
    src: url('SFUHelveticaNeueUltraLight.eot');
    src: url('SFUHelveticaNeueUltraLight.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaNeueUltraLight.woff2') format('woff2'),
        url('SFUHelveticaNeueUltraLight.woff') format('woff'),
        url('SFUHelveticaNeueUltraLight.ttf') format('truetype'),
        url('SFUHelveticaNeueUltraLight.svg#SFUHelveticaNeueUltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Helvetica';
    src: url('SFUHelveticaUltraCompressed.eot');
    src: url('SFUHelveticaUltraCompressed.eot?#iefix') format('embedded-opentype'),
        url('SFUHelveticaUltraCompressed.woff2') format('woff2'),
        url('SFUHelveticaUltraCompressed.woff') format('woff'),
        url('SFUHelveticaUltraCompressed.ttf') format('truetype'),
        url('SFUHelveticaUltraCompressed.svg#SFUHelveticaUltraCompressed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

