.images-wrapper {
    height: 400px;
    background-color: #fff;
    position: relative;
    margin-top: calc(var(--header-height) + 10px) !important;
    overflow: hidden;

    img {
        position: absolute;
        top: calc(182px - var(--header-height));
        width: 280px;
        height: 280px;
        transform: translateX(50%);
        z-index: 2;
    }

    .circle {
        position: absolute;
        border-radius: 50%;
    }

    .green {
        top: calc(89px - var(--header-height));
        left: 110px;
        width: 80px;
        height: 80px;
        background-color: #e0ffe7;
    }

    .yellow {
        background-color: #faffe0;
    }

    .big-yellow {
        bottom: 158px;
        left: 350px;
        width: 40px;
        height: 40px;
    }

    .small-yellow {
        top: calc(160px - var(--header-height));
        left: 78px;
        width: 30px;
        height: 30px;
    }

    .blur-blue {
        background: #e0fbff 0% 0% no-repeat padding-box;
        filter: blur(10px);
    }

    .big-blue {
        top: calc(80px - var(--header-height));
        left: 280px;
        width: 150px;
        height: 150px;
    }

    .small-blue {
        bottom: 0;
        left: 370px;
        width: 120px;
        height: 120px;
    }

    .skin {
        position: absolute;
        top: 28%;
        left: -18%;
        width: 494px;
        height: 494px;
        background: #fff4ef 0% 0% no-repeat padding-box;
    }

    .purple {
        position: absolute;
        bottom: 212px;
        left: 432px;
        color: #f4eeff;
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 767px) and (min-width: 361px) {
    .images-wrapper {
        .skin {
            display: none;
        }

        .small-blue {
            bottom: 50%;
            left: 20px;
        }

        .big-yellow {
            bottom: 58%;
        }

        .purple {
            bottom: 60%;
            left: 356px;
        }
    }
}
