    :root   {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
         --border-color: #E8E8E8;                            
         --white-color: #fff;
         --black-color: #000;
         --text-color: #333;
         --primary-color: #fe5722;
         --navbar-height: 34px;
         --header-height: 120px;            
         --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
         --star-gold: #FFCE3E;
         --primary-hover: #fe5722ed;
    }


    *   {
        box-sizing: inherit;

    }    

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
    html {
        font-size: 62.5%;
        line-height: 1.6rem;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
                                                                                                            

      /*responsive **/
    .grid {
        width: 1200px;
        max-width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
        margin: 0 auto;
    }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    .grid__full-width {
        width: 100%;
    }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    .grid__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
    }

    .grid__column-2 {
        padding-left: 5px;
        padding-right: 5px;
        width: 16.6667%;
    }
    .grid__column-10 {
        padding-left: 5px;
        padding-right: 5px;
        width: 83.3334%;
    }

    .grid__column-2-4 {
        padding-left: 5px;
        padding-right: 5px;
        width: 20%;
    }
    /*Hover*/

    .hoverr:hover {
        opacity: 0.7;
    }               
        /*Animation*/

    @keyframes fadeIN {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes growth {
        from {
            transform: scale(var(--growth-from));   
        }
        to {
            transform: scale(var(--growth-from));
        }
    }    
    @keyframes modalFadeIn {
        from {
            opacity: 0;
            transform: translateY(-140px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /*Modal*/

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        display: none;
        animation: modalFadeIn ease 0.4s;
    }
    .modal.open {
        display: flex;
    }

    .dangky {
        display: none;
        animation: modalFadeIn ease 0.4s;
    }

    .dangky.open {
        display: flex;
    }

    .dangnhap {
        display: none;
        height: 460px;
    }

    .dangnhap.open {
        display: flex;
    }

    .modal__body {
        --growth-form: 0.7;
        --growth-to: 1;
        margin: auto;
        position: relative;
        z-index: 1;
        animation: growth linear 0.1s;
    }

    .modal__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0, 0, 0.4) ;
    }

    /*Button style*/

    .btn {
        min-width: 124px;
        height: 34px;
        text-decoration: none;
        border: none;
        border-radius: 2px;
        font-size: 1.5rem;
        padding: 0px 12px;
        cursor:pointer ;
        color: var(--text-color);
        display: inline-flex;        
        justify-content: center;
        align-items: center;
        line-height: 1.6rem;
    }

    .btn:hover {
        background-color:rgba(0, 0, 0, 0.2);
    }

    .btn.btn-primary {
        background-color: var(--primary-color);
        color: var(--white-color);
    }

    .btn.btn-primary:hover,
    .auth-form__socials--google:hover {
        background-color: var(--primary-hover);
    }

    .auth-form__socials--facebook:hover {
        background-color: #3a5a98eb;
    }

    .btn.btn--size-s {
        height: 32px;
        font-style: 1.2rem;
        padding: 0 8px;
    }

    /*selection*/

    .select-input {
        position: relative;
        min-width: 200px;
        height: 34px;
        padding: 0 12px;
        border-radius: 2px;
        background-color: var(--white-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .select-input-label {
        font-size: 1.4rem;
    }

    .select-input-icon {
        font-size: 1.4rem;
        color: rgb(131, 131, 131);
        position: relative;
        top: 1px;
    }

    .select-input-list {
        position:absolute;
        left: 0;
        right: 0;
        top: 25px;
        border-radius: 2px;
        background-color: var(--white-color);
        padding: 12px 16px;
        list-style: none;
        z-index: 1;
        display: none;
    }

    .select-input:hover .select-input-list {
        display: block;
    }
    
    .select-input-link {
        font-size: 1.4rem;
        color: var(--text-color);
        text-decoration: none;
        display: block;
        padding: 6px 0;
    }

     .select-input-link:hover {
        color: var(--primary-color);
     }

     /*Pagination*/
     .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
     }

     .pagination-item{
        margin: 0 12px;
     }

     .pagination-item-link {
        --height: 30px;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #939393;
        font-size: 1.9rem;
        font-weight: 300;
        min-width: 40px;
        height: var(--height);
        line-height: var(--height);
        border-radius: 2px;
     }

     .pagination-item-active .pagination-item-link{
        background-color: var(--primary-color);
        color: var(--white-color);
     }

      .pagination-item-active .pagination-item-link:hover {
        background-color: var(--primary-hover);
      }





                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
