	/*Mobile & Tablet*/
	
	@media (max-width: 1023px) {
	    
	    .header {
	        position: fixed;
	        z-index: 10;
	        top: 0;
	        right: 0;
	        left: 0;
	    }

	    .header-mobile-search {
	    	display: block;
	    	width: 60px;
	    	text-align: center;
	    }

	    .header-cart-list {
	    	position: fixed;
	    	top: var(--header-height);
	    	right: 0;
	    	width: 100%;
	    	/*display: block;*/
	    	text-align: center;
	    }

	    .header-cart-list::after {
	    	right: 13px;
	    }

	    .app-container {
	        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));--line-height;
	    }

	    .hide-on-mobile-tablet {
	        display: none
	    }

	    .header-sort-bar {
	     	display: flex
	     }

	     .mobile-search-overlay {
	     	position: fixed;
	     	top: 0;
	     	right: 0;
	     	left: 0;
	     	bottom: 0;
	     	background-color: rgba(0, 0, 0, 0.3);
	     	z-index: 11;
	     	animation: mobileSearchFadeIn linear 0.4s ;
	     	/*display: block;*/
	     }

	     .header-search-checkbox:checked ~ .mobile-search-overlay {

	     	display: block;
	     }


	     /*Navbar*/

	     .header__navbar-mobile-heading {
	     	display: flex;
	     	justify-content: space-between;
          	height: 34px;
          	margin: 0 auto;
          	border-bottom:1px solid rgba(0, 0, 0, 0.1) ;
          	/*position: relative;*/
	     }

	     .header__navbar-mobile {
	     	position: fixed;
	     	top: 0;
	     	left: 0;
	     	bottom: 0;
	     	width: 320px;
	     	max-width: 100%;
	     	padding-top: 34px;
	     	font-size: 1.6rem;
	     	background-color: var(--white-color);
	     	display: block;
	     	z-index: 12;
	     	transform: translateX(-100%);
	     	opacity: 0;
	     	transition: transform linear 0.2s ,opacity linear 0.2s;
	     }

	     .header__navbar-mobile-list {
	     	margin:0;	     	
	     	list-style: none;
	     	display: flex;
	     	flex-direction: column;
	     }

	     .header__navbar-mobile-list1 {
	     	list-style: none;
	     	padding-left: 0;
	     	margin-bottom: 0;
	     }
	     .header__navbar-mobile-list2 {
	     	list-style: none;
	     	margin-bottom: 0;
	     	padding-left: 0;
	     }

	     .header__navbar-mobile-item {
	     	width: 100%;
	     	margin-left: 0;
	     	padding-top: 40px;
	     	color: var(--text-color);
	     }

	     .header__navbar-mobile-item1 {
	     	margin: 40px 0 0 40px;
	     }

	     .header__navbar-mobile-icon {
	     	color: var(--text-color);
	     	font-size: 1.4rem;
	     	padding: 0 8px 0 0 ;
	     }

	     .header__navbar-mobile-img  {
	     	display: block;
	     	width: 50px;
	     	height: 50px;
	     	position: absolute;
	     	top: 8px;
	     	left: 8px;
	     }

	     .header__navbar-mobile-text {
	     	display: flex;
	     	align-items: center;
	     	position: absolute;
	     	left: 71px;
	     	height: 68px;
	     	top: 0;
	     	font-size: 2.4rem;
	     	color: #00cb5e;
	     } 

	     .nav-mobile-close {
	     	display: block;
	     	font-size: 2rem;
	     	color: #666;
	     	position: absolute;
	     	top: 24px;
	     	right: 8px;
	     }

	     

	     .header__navbar-mobile-item-link {
	     	color: var(--text-color);
	     	/*padding: 8px 0;*/
	     	display: block;
	     	text-decoration: none;
	     }

	     .header__navbar-mobile-icon-link {
	     	text-decoration: none;
	     	color: #333;
	     	/*padding: 8px 0;*/
	     	font-size: 2rem;
	     	color: var(--text-color);
	     }

	     label.header__navbar-mobile-item-link {
	     	padding-left: 40px;
	     	padding-top: 40px;
		 }
		     /*Notify*/
		  .header__noti-mobile {
		  	display: none;

		  }
		  .header__noti-mobile-item {
		  	list-style: none;
		  }

		  .header__noti-header {
		  	/*margin-left: 29px;*/
		  	text-align: center;
		  }	

		  .header__noti-img1 {
		  	width: 131px;
		  }

		  .header__noti-footer {
		  	display: flex;
		  	justify-content: center;
		  	width: 100%;
		  	margin-top: 40px;
		  }

		 .header__noti-header h3 {
		 	margin-top: 12px;
		 }

		  .header-noti-checkbox:checked ~ .header__noti-mobile {
		  	display: block;
		  }

		  .app-content {
	    	padding-top: 8px;
	      }

	      .mobile-category {
	      	display: block;
	      }
	}
	/*Tablet*/
	      

	@media (min-width: 740px) and (max-width : 1023px) {

		:root {
	        --navbar-height: 0px;
	        --header-height: 68px;
	   	   }

	    .hide-on-tablet {
	        display: none;
	    }
	    .header-cart {
	        width: 80px;
	        text-align: right;
	    }
	    .header-cart-no-cart-msg {
	        text-align: center;
	    }
	    .header-cart-list {
	        position: fixed;
	        top: var(--header-height);
	        right: 0;
	        width: 100%;
	        padding: calc((100% - 644px) / 2);
	    }
	    .header-cart-list:after {
	        display: none
	    }

	    .header-mobile-search {
	    	position: relative;
	    	left: -26px;
	    }
	}
	/*Mobile*/
		

	@media (max-width: 739px) and (min-width: 361px) {

		:root {
	        --navbar-height: 0px;
	        --header-height: 54px;
	    }

	    .hide-on-mobile {
	        display: none;
	    }

	    .header-with-search {
	    	justify-content: space-between;
	    }

	    .header__logo {
	    	width: unset;
	    	/*display: flex;
    		align-items: center;*/
    		/*padding-right: 12px;*/
    		position: relative;
    		top: 2px;
	    }

	    .header__logo-img {
	    	width: 60px;
	    }

	    .header-search-checkbox:checked ~ .header__navbar-mobile {
	     	transform: translateX(0);
	     	opacity: 1;
	     }

	    .header-search {
	    	position: fixed;
	    	top: var(--header-height)  ;
	    	left: 0;
	    	right: 0;
	    	height: 46px;
	    	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	    	z-index: 1;
	    	padding: 0 16px;
	    	animation:  mobileSearchSideIn linear 0.3s;
	    	display: none;
	    	/*flex: 4;*/
	    	/*padding-left: 12px*/
	    }


	    .header-search-history {
	    	position: fixed;
	    	width: 100%;
	    	top: calc(var(--header-height) + var(--header-sort-bar-height));
	    	/*top: var(--header-height);*/
	    	left: 0;
	    	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	    	
	    }

	    .header-cart {
	    	/*flex: 1;*/
	    	display: flex;
	    	justify-content: center;
	    	width: 60px;
	    	/*padding: 16px;*/
	    	padding-bottom: 4px;
	    }

	    .header-cart-icon {
	    	font-size: 3.4rem;
	    	padding-top: 0;
	    }

	    .header-mobile-menu-icon {
	    	color: var(--white-color);
	    	font-size: 2.6rem;
	    }

	    .header-mobile-menu {
	    	width: 60px;
	    	text-align: center;
	    	display: flex;
	    	height: var(--header-height);
	    	align-items: center;
	    	justify-content: center;
	    }

	    .header-menu-checkbox:checked ~ .header-search {
	    	display: flex;
	    }

	    .app-content {
	    	margin: 0 4px;
	    }

	    .pagination-item {
	     	margin: 0;
	     }

	    .pagination-item-link {
	    	height: 28px;
	    	font-size: 1.6rem;
	    	min-width: 36px;
	    }

	    .footer-content {
	    	padding: 0 20px 32px 16px;
	    }

	    .footer-heading {
	    	text-align: center;
	    }

	    .footer-download,
	    .footer-item-link {
	    	justify-content: center;
	    }

	    .footer-download-app {
	    	flex: unset;
	    }

	    .footer-download-app-link {
	    	display: block;
	    	padding: 6px 8px;

	    }

	    .auth-form {
	    	width: 332px;
	    	max-width: 100%;
	    	margin: 55px 17px 0 16px;
	    }

	    .btn.btn--size-s {
	    	height: 42px;
	    	margin-left: 14px;
	    }

	    .auth-form__socials-title {
	    	margin: 0 0 0 20px;
	    }

	    @keyframes mobileSearchSideIn {
	    	from {
	    		opacity: 0;
	    		top: calc(var(--header-height) / 2);
	    	}

	    	to {
	    		opacity: 1;
	    		top: var(--header-height)  ;
	    	}
	    }

	    @keyframes mobileSearchFadeIn {

	    	from {
	    		opacity: 0;
	    	}

	    	to {
	    		opacity: 1;
	    	}
	    }
	}

	@media (max-width: 360px) {
		  .auth-form {
	    	margin: 30px 16px 0 14px;
	    	width: 330px;
	    	max-width: 100%;
	    }
	    :root {
	        --navbar-height: 0px;
	        --header-height: 54px;
	    }

	    .hide-on-mobile {
	        display: none;
	    }

	    .header-with-search {
	    	justify-content: space-between;
	    }

	    .header__logo {
	    	width: unset;
	    	/*display: flex;
    		align-items: center;*/
    		/*padding-right: 12px;*/
    		position: relative;
    		top: 2px;
	    }

	    .header__logo-img {
	    	width: 60px;
	    }

	    .header-search-checkbox:checked ~ .header__navbar-mobile {
	     	transform: translateX(0);
	     	opacity: 1;
	     }

	    .header-search {
	    	position: fixed;
	    	top: var(--header-height)  ;
	    	left: 0;
	    	right: 0;
	    	height: 46px;
	    	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	    	z-index: 1;
	    	padding: 0 16px;
	    	animation:  mobileSearchSideIn linear 0.3s;
	    	display: none;
	    	/*flex: 4;*/
	    	/*padding-left: 12px*/
	    }


	    .header-search-history {
	    	position: fixed;
	    	width: 100%;
	    	top: calc(var(--header-height) + var(--header-sort-bar-height));
	    	/*top: var(--header-height);*/
	    	left: 0;
	    	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	    	
	    }

	    .header-cart {
	    	/*flex: 1;*/
	    	display: flex;
	    	justify-content: center;
	    	width: 60px;
	    	/*padding: 16px;*/
	    	padding-bottom: 4px;
	    }

	    .header-cart-icon {
	    	font-size: 3.4rem;
	    	padding-top: 0;
	    }

	    .header-mobile-menu-icon {
	    	color: var(--white-color);
	    	font-size: 2.6rem;
	    }

	    .header-mobile-menu {
	    	width: 60px;
	    	text-align: center;
	    	display: flex;
	    	height: var(--header-height);
	    	align-items: center;
	    	justify-content: center;
	    }

	    .header-menu-checkbox:checked ~ .header-search {
	    	display: flex;
	    }

	    .app-content {
	    	margin: 0 4px;
	    }

	    .pagination-item {
	     	margin: 0;
	     }

	    .pagination-item-link {
	    	height: 28px;
	    	font-size: 1.6rem;
	    	min-width: 36px;
	    }

	    .footer-content {
	    	padding: 0 20px 32px 16px;
	    }

	    .footer-heading {
	    	text-align: center;
	    }

	    .footer-download,
	    .footer-item-link {
	    	justify-content: center;
	    }

	    .footer-download-app {
	    	flex: unset;
	    }

	    .footer-download-app-link {
	    	display: block;
	    	padding: 6px 8px;

	    }

	    .btn.btn--size-s {
	    	height: 42px;
	    	margin-left: 14px;
	    }

	    .auth-form__socials-title {
	    	margin: 0 0 0 20px;
	    }

	    .modal__body {
	    	height: 537px;
	    }

	    @keyframes mobileSearchSideIn {
	    	from {
	    		opacity: 0;
	    		top: calc(var(--header-height) / 2);
	    	}

	    	to {
	    		opacity: 1;
	    		top: var(--header-height)  ;
	    	}
	    }

	    @keyframes mobileSearchFadeIn {

	    	from {
	    		opacity: 0;
	    	}

	    	to {
	    		opacity: 1;
	    	}
	    }
	}

	
	@media screen and (-webkit-min-device-pixel-ratio:0) { 
  		#safari { display: block; } 
} 
	 

