.wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: var(--header-height);
    background: #949494 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 40px #4040401a;
    padding: 0 16px;
    user-select: none;
    z-index: 4;

    img {
        width: 314px;
        height: 53px;
        cursor: pointer;
    }

    button {
        width: 180px;
        height: 50px;
        font-size: 2.5rem;
        border-radius: 5px;
    }
}

// Phone
@media (max-width: 767px) and (min-width: 360px) {
    .wrapper {
        img {
            width: 180px;
            height: 40px;
        }
        button {
            width: 100px;
            font-size: 1.5rem;
        }
    }
}
